[clusters]
name = "test-cluster"
listen_addr = "0.0.0.0:7788"
hash_tag = "{}"
thread = 1,
cache_type = "redis_cluster"
servers = ["127.0.0.1:7000"]

fetch_interval = 3600000 
read_from_slave = false

ping_fail_limit = 10
ping_interval = 300

read_timeout = 1000
write_timeout = 1000
dial_timeout = 500
listen_proto = "tcp"
node_connections = 1